.flexiPlan {
  max-width: 1200px;
  margin: 0 auto;
}
.flexiPlan h2 {
  font-size: 36px;
  font-weight: 300;
  line-height: 42px;
  color: rgb(0, 0, 0);
}
.flexiPlan p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: rgb(0, 0, 0);
}

.flexiPlan .flexPlanItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  border-bottom: 1px solid #000;
}
.flexiPlan .flexPlanItem div {
  flex: 0 0 auto;
}
.flexiPlan .flexPlanItem .title {
  flex: 0 0 20%;
}
.flexiPlan .flexPlanItem:last-child {
  border-bottom: 0;
}
.flexiPlan .flexPlanItem .title h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  color: rgb(0, 0, 0);
}
.flexiPlan .flexPlanItem .title p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.flexiPlan .flexPlanItem.success .title p {
  color: rgb(118, 199, 121);
}
.flexiPlan .flexPlanItem.danger .title p {
  color: rgb(238, 57, 90);
}
.flexiPlan .flexPlanItem.purple .title p {
  color: #c34ab7;
}
.flexiPlan .flexPlanItem.info .title p {
  color: #4abbc3;
}
.flexiPlan .flexPlanItem .data ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.flexiPlan .flexPlanItem .data ul li button {
  width: 56px;
  height: 56px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.06);
  border-radius: 50%;
}
.flexiPlan .flexPlanItem.success .data ul li button.selected {
  background: #76c779;
}
.flexiPlan .flexPlanItem.danger .data ul li button.selected {
  background: #ee395a;
}
.flexiPlan .flexPlanItem.purple .data ul li button.selected {
  background: #c34ab7;
}
.flexiPlan .flexPlanItem.info .data ul li button.selected {
  background: #4abbc3;
}
.disabled {
  background-color: red;
}
